body {
  font-family: "Kumbh Sans", sans-serif;
}
.main-details-container {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2);
}
.list-title {
  cursor: pointer;
}
.list-heading {
  font-size: 25px;
  font-weight: 500;
}
