body {
  font-family: "Kumbh Sans", sans-serif;
}
.list-title {
  cursor: pointer;
}
.list-heading {
  font-size: 25px;
  font-weight: 500;
}
.element.style {
  height: 50% !important;
}

.inputDiv {
  text-align: center;
  padding-top: 18%;
}
.addInput {
  border-top: white;
  border-left: white;
  border-right: white;
  // border-bottom: #570225;
  // border-bottom: #570225;
  width: 100%;
  height: 40px;
  // padding-bottom: 20px;
  // border-bottom: gray;
}
button {
  background-color: white;
  color: #570225;
  border: white;
  font-size: 20px;
  // padding-top: 40px;
  position: relative;
  top: 40px;
  cursor: pointer;
}
.btnCancle {
  position: relative;
  right: -63px;
}
.btnAdd {
  position: relative;
  left: 90px;
  // right: 50px;
}
.addBtnMain {
  // position: -webkit-sticky;
  position: fixed;
  // position: fixed;
  left: 70%;
  padding: 10px;
  size: auto;
  font-size: 0;
  top: 80%;
}
.MuiFab-primary {
  background-color: #570225 !important;
}
.add-item {
  position: relative;
  font-weight: 500;
  top: -28px;
  left: -50px;
}
.add-heading {
  font-weight: 250;
  position: relative;
  left: -110px;
  color: #570225;
}
